body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #FFE900;
}
.flag {
    height: 100vh;
    background-image: url(media/flag.webp);
    background-size: cover;
    position: relative;
    z-index: 1;
    background-position: center center;
}
center {
    position: relative;
    z-index: 2;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 20px;
}
a {
    color: cyan;
    text-decoration: none;
    font-style: italic;
}
.kerbin{
    margin: 5vh;
    height: 100vh;
    background-image: url(media/kerbin.png);
    background-size: cover;
    position: relative;
    z-index: 1;
    background-position: center center;
    background-attachment: fixed
}
img {
    width: 20vw;
}